################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProgLangAss02/.vs/ProgLangAss02/v16
/ProgLangAss02/ProgLangAss02.sln
/ProgLangAss02/Program.exe
/ProgLangAss02/Program.obj
